<div class="menu">
    <div class = "menu-left">
      <div>Browse</div>
      <div>QA</div>
      <div>Jams</div>
      <div>BI</div>
      <div>BOng</div>
      <div>Community</div>
      <input type="text" placeholder = "search for games and creators">
    </div>
    <div class = "menu-right">
      <div>username</div>
       <img src="assets/bong.jpg" alt="con meo"
       width="50" height="50">
      <div>usme</div>
      <i class="fa fa-user"></i>
      <i class="fa-regular fa-user"></i>
      <i class="fa-solid fa-truck-fast"></i>
      <div>use</div>
    </div>
</div>

<div class="search">
  <div>Top</div>
  <div class="search__dropdown">
    <button class="search__dropdown_btn">btn</button>
        <div id="search__dropdown_item">
           <div>Games</div>
           <div>Tools</div>
           <div>Assets</div>
           <div>Comics</div>
           <div>Books</div>
           <div>18+</div>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
          <div href="#">Link 1</div>
          <div href="#">Link 2</div>
          <div href="#">Link 3</div>
      </div>
  </div>
</div>
